<body>
  <div class="report-container">
    <%= render 'reports/partials/introduction' %>
    <%= render 'reports/partials/metadata_and_executive_summary' %>
    <%= render 'reports/partials/methodology' %>
    <%= render 'reports/partials/dns_intelligence' %>
    <%= render 'reports/partials/network_infrastructure' %>
    <%= render 'reports/partials/subdomain_enumeration' %>
    <%= render 'reports/partials/certificate_https' %>
    <%= render 'reports/partials/exposed_assets' %>
    <%= render 'reports/partials/data_leaks' %>
    <%= render 'reports/partials/employee_info' %>
    <%= render 'reports/partials/metadata_files' %>
    <%= render 'reports/partials/risk_assessment' %>
    <%= render 'reports/partials/recommendations' %>
  </div>
</body>
