<h4 class="heading-tertiary mt-6">Logstealer Leaks</h4>
<table class="table-base mt-3">
  <thead>
    <tr class="table-header">
      <th class="table-cell text-left">URL</th>
      <th class="table-cell text-left">Email</th>
      <th class="table-cell text-left">Password</th>
      <th class="table-cell text-left">Year</th>
    </tr>
  </thead>
  <tbody>
    <% leaks[:shown].each do |entry| %>
      <tr>
        <td class="table-cell break-word"><%= entry[2] %></td>
        <td class="table-cell"><%= entry[0] %></td>
        <td class="table-cell"><%= entry[1] %></td>
        <td class="table-cell"><%= entry[3] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if leaks[:note].present? %>
  <p class="text-small text-muted mt-2"><%= leaks[:note] %></p>
<% end %>
