  <h4 class="heading-sm mb-3">Public Breach Leaks</h4>
  <table class="table-base">
    <thead>
      <tr>
        <th class="text-left">Leak Source</th>
        <th class="text-left">Email</th>
        <th class="text-left">Password</th>
        <th class="text-left">Year</th>
      </tr>
    </thead>
    <tbody>
      <% leaks[:shown].each do |entry| %>
        <tr>
          <td class="table-cell"><%= entry[2] %></td>
          <td class="table-cell"><%= entry[0] %></td>
          <td class="table-cell"><%= entry[1] %></td>
          <td class="table-cell"><%= entry[3] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if leaks[:note].present? %>
    <p class="text-sm text-muted mt-3"><%= leaks[:note] %></p>
  <% end %>
