<% if items.any? %>
  <div class="rec-group">
    <h4 class="rec-title <%= style_class %>"><%= severity %></h4>
    
    <% items.each do |rec| %>
      <div class="rec-item <%= style_class %>">
        <div class="rec-area">
          <strong>Area:</strong> <%= rec[:area] %>
        </div>
        <div class="rec-text">
          <%= rec[:recommendation] %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
