<% if whois.any? %>
  <div>
    <h4 class="heading-sm mb-3">WHOIS Records</h4>
    <table class="table-base">
      <thead>
        <tr>
          <th class="text-left">Domain</th>
          <th class="text-left">Registrar</th>
          <th class="text-left">Created</th>
          <th class="text-left">Updated</th>
          <th class="text-left">Expires</th>
        </tr>
      </thead>
      <tbody>
        <% whois.each do |w| %>
          <% next if [w[:domain_name], w[:registrar], w[:creation_date], w[:updated_date], w[:expiration_date]].all?(&:blank?) %>
          <tr>
            <td class="table-cell"><%= w[:domain_name] || "N/A" %></td>
            <td class="table-cell"><%= w[:registrar] || "N/A" %></td>
            <td class="table-cell"><%= w[:creation_date] || "N/A" %></td>
            <td class="table-cell"><%= w[:updated_date] || "N/A" %></td>
            <td class="table-cell"><%= w[:expiration_date] || "N/A" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if local_assigns[:whois_note].present? %>
      <p class="text-sm text-muted mt-3"><%= whois_note %></p>
    <% end %>
  </div>
<% end %>
